* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

body {
  font-family: sans-serif;
  border: 1px solid black;
  margin: 100px 5px;
}

h4 {
  margin-top: 5px;
  text-align: center;
}
.fName {
  border: 1px solid grey;
  border-radius: 9999px;
  padding: 8px 15px;
  background-color: rgb(234, 224, 224);
  width: 290px;
  font-size: 10px;
  position: relative;
  left: 13px;
}

.fa-plus {
  border: 1px solid lime;
  border-radius: 50%;
  background-color: lime;
  padding: 5.5px;
}

.names li {
  border: 1px solid rgb(221, 212, 212);
  background-color: rgb(234, 224, 224);
  display: block;
  padding: 6px 6px;
  width: 290px;
  margin: 6px 0;

  font-size: 10px;
  font-family: sans-serif;
  color: black;

  display: flex;
  justify-content: space-between;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-form {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.fa-plus {
  position: relative;
  right: 14px;
}
